* {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    background-color: #F1F1F1;
}

.h-screen {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-1 {
    flex: 1 1 0%;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.border {
    border: 1px solid lightgray;
}

.border-none {
    border: none;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-white {
    background-color: #ffffff;
}

.bg-skyblue {
    background-color: lightskyblue;
}

.text-gray {
    color: gray;
}

.text-white {
    color: white;
}

.cursive {
    font-family: cursive;
}

.bold {
    font-weight: 700;
}

.calendar-day {
    padding: 0.25rem;
    margin: 0.25rem 0;
}

.text-15 {
    font-size: 15px;
}

.text-20 {
    font-size: 20px;
}

.text-08-rem {
    font-size: 0.8rem;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pxy-10 {
    padding: 10px;
}

.pxy-15 {
    padding: 15px;
}

.pxy-20 {
    padding: 20px;
}

.w-10-rem {
    width: 10rem;
    /* 116px */
}

.rounded-full {
    border-radius: 50%;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-10 {
    border-radius: 10px;
}

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
}

.modal__form {
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal__form header {
    background-color: #bcbcbc;
    color: white;
    border-radius: 5px 5px 0 0;
}

.modal__form input {
    border: 0;
    border-bottom: 1px solid lightgray;
    outline: none;
}